.input {
  position: absolute;
  left: 0;
  top: -10px;
  height: 1px;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  border: none;
  color: transparent;
  background-color: transparent;
  caret-color: transparent;
  outline: 0;
}
